<div class="cointainer">
    <div class="navigate">
        <div class="btn api">
            <button mat-raised-button style="background: #6699b5;color: white;" routerLink="/apiintraction/demo"> Api
                Intraction Demo</button>
        </div>
        <div class="btn store">
            <button mat-raised-button style="background: #f4a99c; color:white;" routerLink="/store/demo">Store
                Demo</button>
        </div>
        <div class="btn NgxTwitterTimelineModule">
            <button mat-raised-button style="background: #7878bd; color:white;"
                routerLink="/twitter-with-NgxTwitterTimelineModule/demo">
                Twitter tweets with module</button>
        </div>

        <div class="btn api">
            <button mat-raised-button style="background: #3030a6; color:white;"
                routerLink="/twitter-with-api/demo">
                Twitter tweets with API</button>
        </div>

        

    </div>
</div>